<h1>geotag</h1>

<p><%= link_to "Neu", new_geotag_path() %></p>

<ul>
  <% @geotags.each do |geotag| %>
    <li>
      <%= geotag.lat %>
      <%= geotag.lng %>
      <%= geotag.alt %>
	  <%= geotag.sbickerl.user.nickname.to_s %>
	  <%= link_to "edit", edit_geotag_path(geotag) %>
    </li>
  <% end %>
</ul>