<h1>Geotags</h1>

<ol id="geotags">
  <% @geotags.each do |geotag| %>
  	<% geotag.sbickerls.each do |sbickerl| %>
      <li>
      	<%= sbickerl.owner %> <br />
      	<%= sbickerl.content %> <br />
      	<%= sbickerl.visibility %> <br />
	    <%= geotag.x %>, <%= geotag.y %>, <%= geotag.z %> <br />
	    <%= link_to 'Delete', geotag, :method => :delete %>
	  </li>
	 <% end %>
  <% end %>
</ol>